/* Parte de Julio Cesar Chan Manrique */
/* Color original del bg #00126F; */

*{
    font-family: 'Poppins', sans-serif;
    color: #000;
}

body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    margin-top: 0;
}

.log-in{
    background: #FFF;
    border-left: 10px solid hsl(47, 100%, 49%);
    border-right: 10px solid hsl(47, 100%, 49%);
    padding: 25px;
}

.arriba{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    position: relative;
    left: 45px;
}

/****** Retroceder*****/
.container_retroceder{
  border-radius: 15px;
}

.retroceder {
  border: 5px solid #BDBDBD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.x-line {
  width: 6px;
  height: 25px;
  background-color: #BDBDBD;
  position: absolute;
  border-radius: 25px;
}

.x-line:first-child {
  transform: rotate(45deg);
}

.x-line:last-child {
  transform: rotate(-45deg);
}

.photo-perfil{
  border-radius: 50%;
}

.log-in-tittle{
  padding-top: 25px;
} 

.return_log_in{
  position: relative;
  color: #ffffff00;
  background: none;
  z-index: 5;
  font-size:xx-large;
}

.x:hover{
  color: #ffffff00;
}

/********** Imagen y span para separar  **********/
.img-separador{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 30px;
}

.separador{
    width: 100%;
    border: 2px solid #BDBDBD;
}

.photo-perfil{
  width: 202px;
  height: 202px;
  box-shadow: 0px 15px 80px rgba(0, 0, 0, 0.50);
  border:8px solid #505050;
}

/********** Forms de log in **********/
.input-login{
  background: #D9D9D9;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 28px;
}

.secciones{
  margin-top: 25px;
}

.text-info-input{
  margin: 0;
}

.create_acount,.remember_password{
  color: hsl(47, 100%, 49%);
}

.textos{
  text-align: center;
}

.button_login,.button_sing_up{
  padding-left: 25px;
  padding-right: 25px;
  color: #FFF;
  font-weight: bolder;
  font-size: large;
  background: hsl(47, 100%, 49%);
  border: 5px solid hsl(47, 100%, 49%);
  border-radius: 15px;
  cursor: pointer;
}

/********** lines bg  **********/
.bg_lines{
  width: 100%;
  display: flex;
  flex-direction: row;
  transform: rotate(180deg);
  justify-content: space-around;
  padding: 0, 15px, 0 15px;
}

.line_left, .line_right{
  background: #FFF;
  border-radius: 0px 0px 25px 25px;
  width: 30px;
}

/* Lado derecho */
.line_left:nth-child(5){
  height: 384px;
}

.line_left:nth-child(4){
  height: 694px;
}

.line_left:nth-child(3){
  height: 308px;

}

.line_left:first-child{
  height: 384px;
}

/* Lado izquierdo */
.line_right:nth-child(5){
  height: 384px;
}

.line_right:nth-child(3){
  height: 308px;
}

.line_right:nth-child(2){
  height: 694px;
}

.line_right:first-child{
  height: 384px;
}

/*****  Ventanas modal  *****/

/* Create account */
dialog{
  border: none;
  border-radius: 25px;
  width: 55vh;
  outline: none;
}

.arriba_create_account{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  display: flex;
  gap: 90px;
}

.sing-up{
  background: #FFF;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

dialog::backdrop{
  background: rgba(38, 38, 38, 0.5);
}

.buttom_create{
  display: grid;
  place-items: center;
  margin-top: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Recordar contraseña */
.Forget-tittle{
  background: #000;
  color: #FFF;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
}

.input-email-password{
  background: #D9D9D9;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100%;
  height: 28px;
}

.form-div-password{
  display: flex;
  gap: 20px;
}

#modal_password{
  width: 75vh;
}

.arriba_password{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  display: flex;
  gap: 10%;
}

.indicaciones_password{
  margin-top: 0;
  padding-top: 0;
}

.container-retroceder:nth-child(2){
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.see_password{
  color: transparent;
}

.buttom_remember_password{
  color: #FFF;
  background: #000;
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  font-size: large;
  width: 50%;
  cursor: pointer;
}