/* Parte de Julio Cesar Chan Manrique */
*{
    font-family: 'Poppins', sans-serif;
    color: #000;
}

body{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: hsl(0, 0%, 20%);
  position: fixed;
  margin-top: 0;
}

.photoperfil{
  display: grid;
  place-items: center;
}                                                                                                                                                                                                                                                                                                           

.contenido_photo h2{
  background: hsl(0, 0%, 44%);
  border-radius: 25px;
  text-align: center;
  color: #fff;
}

.photo{
  width: 202px;
  height: 202px;
  border-radius: 50%;
  border: 8px solid hsl(47, 100%, 49%);
}

/*  Lugar del formulario */
.container_dates{
  background: #fff;
  border-left: 10px solid hsl(47, 100%, 49%);
}

.container_form{
  margin-top: 25px;
  margin-left: 25px;
}

.arriba{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#username, #password{
  width: 75%;
  background: #D9D9D9;
  border-radius: 6px;
  padding-left: 10px;
}
/****** Retroceder*****/
.container_retroceder{
  border-radius: 15px;
}

.retroceder {
  border: 5px solid #BDBDBD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.x-line {
  width: 6px;
  height: 25px;
  background-color: #BDBDBD;
  position: absolute;
  border-radius: 25px;
}

.x-line:first-child {
  transform: rotate(45deg);
}

.x-line:last-child {
  transform: rotate(-45deg);
}

/* Agregamos una clase para ocultar el formulario inicialmente */
.hidden {
  display: none;
}