<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Render By user</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./CSS/user2.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header>

    <div class="container">

      <a href="#" class="logo">
        <img src="./img/RenderBay_White_nobg.png" alt="NAFT logo"  width="50px">
      </a>

      <div class="header-right">

        <div class="header-nav-wrapper">

          <button class="navbar-toggle-btn" data-navbar-toggle-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>

          <nav class="navbar" data-navbar>

            <ul class="navbar-list">

              <li>
                <a href="./Index.html" class="navbar-link">Home</a>
              </li>

              <li>
                <a href="./creadores.html" class="navbar-link">Creators</a>
              </li>

              <li>
                <a href="./contact.html" class="navbar-link">Contact</a>
              </li>

            </ul>

          </nav>

        </div>

        <div class="header-actions">
          <input type="search" placeholder="Search" class="search-field">
          <a href="./login.html" class="btn btn-primary">Iniciar Sesion</a>
        </div>

      </div>

    </div>

  </header>
  <main>
    <article>
      <!-- 
        - #HERO
      -->
      <section class="hero">
        <div class="container">
            <div class="wrapper">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/d9164478828457.5cb0f477ebfeb.png" class="img">
                <div class="user">
                  <div class="info">
                    <div class="icon">
                        <img src="./img/Photo_perfil.jpg" class="icon">
                    </div>
                    <h1>Yosef Palma</h1>
                    <p>@yisushd7u7</p>
                  </div>
                  <div id="paypal-button-container">
                    <a>$5 SUSCRIBIRSE CON:</a>
                  </div>
                </div>
                <div class="stats">
                  <div class="projects">
                    <p>Proyectos</p>
                    <h1>27</h1>
                  </div>
                  <div class="projects">
                    <p>Estrellas</p>
                    <h1>4.2</h1>
                  </div>
                  <div class="projects">
                    <p>Seguidores</p>
                    <h1>83</h1>
                  </div>
                </div>
            </div>
        </div>
        <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            template: `
            <div class="container">
              <div class="wrapper">
                <h1>Comentarios</h1>
                
                    <p>
                        <input type="text" placeholder="Nombre" name="author" 
                        id="" class="form-control" v-model="name">
                    </p>
                    <p>
                        <textarea placeholder="Comentario" name="author" 
                        id="" class="form-control" v-model="message"></textarea>
                    </p>
                    <button v-on:click="addComment" type="submit" class="btn btn-primary">Comentar</button>
                
                <div class="stats2">
                    <div class="projects2" v-for="(comment, index) in comments">
                        <span class="comment__author">Autor: <strong>{{comment.name}}</strong></span>
                        <p>{{comment.message}}</p>
                        <div>
                            <a title="Borrar" v-on:click="removeComment(index)"> Borrar</a>
                        </div>
                        </div>
                      </div>
                 </div>
            </div>
            `,
            data() {
                return {
                    comments: [],
                    name: '',
                    message: ''
                }
            },
            methods: {
                addComment() {
                    if ( this.message.trim() === '') {
                        return;
                    }

                    this.comments.push({
                        name: this.name,
                        message: this.message
                    });
                   
                    this.name = '',
                    this.message = ''
                },
                removeComment(index) {
                    this.comments.splice(index, 1);
                },
            computed: {
                allComments() {
                return this.comments.map(comment => ({
                    ...comment,
                    name: comment.name.trim() === '' ? 'Anônimo' : comment.name
                }))
                }
              },
            watch: {
                comments(val) {
                console.log('val', val)
                }
              }
            }
        })
    </script>
      </section>
      <!-- 
        - #NEW PRODUCT
      -->
      <section class="new-product">
        <div class="container">

          <div class="section-header-wrapper">

            <h2 class="h2 section-title">Lo mas Nuevo</h2>

            <button class="btn btn-primary">Ver mas</button>

          </div>

          <ul class="product-list">

            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://files.cults3d.com/uploaders/21539472/illustration-file/956c5035-d2e7-4e96-a1ff-ad0a0a16cfff/Miku_1.jpg" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <a href="./producto.html" class="place-bid-btn">Ver mas</a>
                </figure>
                <div class="product-content">
                  <a href="./producto.html" class="h4 product-title">Miku Hatsune</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </section>

      <section class="explore-product">
        <div class="container">

          <div class="section-header-wrapper">

            <h2 class="h2 section-title">Explorar Productos</h2>

            <button class="btn btn-primary">Explorar</button>

          </div>

          <ul class="product-list">

            <li class="product-item">
                <div class="product-card" tabindex="0">
                  <figure class="product-banner">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACKCFmPJg2_VoWWloKpowm97mtdIAwYFd-w&usqp=CAU" alt="Dimond riding a blue body art">
                    <div class="product-actions">
                      <button class="product-card-menu">
                        <ion-icon name="ellipsis-horizontal"></ion-icon>
                      </button>
                      <button class="add-to-whishlist" data-whishlist-btn>
                        <ion-icon name="heart"></ion-icon>
                      </button>
                    </div>
                    <button class="place-bid-btn">Ver mas</button>
                  </figure>
                  <div class="product-content">
                    <a href="#" class="h4 product-title">Anime Girl</a>
                    <div class="product-meta">
                      <div class="product-author">
                        <figure class="author-img">
                          <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                        </figure>
                        <div class="author-content">
                          <h4 class="h5 author-title">Yosef Palma</h4>
                          <a href="#" class="author-username">@yisushd7u7</a>
                        </div>
                      </div>
                    </div>
                    <div class="product-footer">
                      <button class="tag">New</button>
                    </div>
                  </div>
                </div>
              </li>
              
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACKCFmPJg2_VoWWloKpowm97mtdIAwYFd-w&usqp=CAU" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <button class="place-bid-btn">Ver mas</button>
                </figure>
                <div class="product-content">
                  <a href="#" class="h4 product-title">Anime Girl</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACKCFmPJg2_VoWWloKpowm97mtdIAwYFd-w&usqp=CAU" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <button class="place-bid-btn">Ver mas</button>
                </figure>
                <div class="product-content">
                  <a href="#" class="h4 product-title">Anime Girl</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            
            <li class="product-item">
              <div class="product-card" tabindex="0">
                <figure class="product-banner">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQACKCFmPJg2_VoWWloKpowm97mtdIAwYFd-w&usqp=CAU" alt="Dimond riding a blue body art">
                  <div class="product-actions">
                    <button class="product-card-menu">
                      <ion-icon name="ellipsis-horizontal"></ion-icon>
                    </button>
                    <button class="add-to-whishlist" data-whishlist-btn>
                      <ion-icon name="heart"></ion-icon>
                    </button>
                  </div>
                  <button class="place-bid-btn">Ver mas</button>
                </figure>
                <div class="product-content">
                  <a href="#" class="h4 product-title">Anime Girl</a>
                  <div class="product-meta">
                    <div class="product-author">
                      <figure class="author-img">
                        <img src="./img/Photo_perfil.jpg" alt="Jack Reacher" width="50px">
                      </figure>
                      <div class="author-content">
                        <h4 class="h5 author-title">Yosef Palma</h4>
                        <a href="#" class="author-username">@yisushd7u7</a>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <button class="tag">New</button>
                  </div>
                </div>
              </div>
            </li>
            

          </ul>

        </div>

      </section>

    </article>

  </main>

  <footer>
  </footer>
    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./img/RenderBay_White_nobg.png" alt="NAFT logo" width="50px">
          </a>

          <h3 class="h4 social-title">Conocenos en</h3>

          <ul class="social-list">

            <li>
              <a href="https://github.com/YosefPalma/ProyectoRestaurante" class="social-link">
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>
  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>
      </div>
    </div>
  <script src="./js/user.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=AbkvOwHxcJgX77d0Ybq3bT7GrYZ1NoVR0cn1U3j0WTgM6AqvZZMBIJg_k0YGl0ehMSRg8JUM6UZuKjEg&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
        },
      
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{"amount":{"currency_code":"USD","value":5}}]
          });


        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            // Full available details
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            // Show a success message within this page, e.g.
            URL:actions.redirect(" https://osimi-gift.github.io/sucessful/")
          });
        },
        onCancel: function(err){
          alert('Transaction cancelled for some reasons');
        }
        
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>
</body>

</html>